@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;700&display=swap');

$web_width: 1280px;
$primary_color: #05a4e8;
$light_color: #f5f5f5;
$dark_color: #222;
$main_bg: url('../image/main_bg.jpg');

* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Roboto', sans-serif; }
a { text-decoration: none;  color: $primary_color; }
ul { list-style: none; }
h1, h2, h3, h4 {font-weight: 500; text-transform: uppercase;} 

%btn_prop_shared { 
  display: inline-block;
  padding: 0.5rem 1.6rem; 
  border-radius: 7px; 
  border: none;
  transition: all 0.7s;
} 

.btn {
  &_cta, &_projects {
    @extend %btn_prop_shared;
    color: $dark_color;
    background-color: $primary_color;
    
    &:hover {
      color: $primary_color;
      background-color: $dark_color;
    }
  }

  &_projects {
    padding: 0.8rem 2.6rem;

  &:hover {
    background-color: $dark_color;
    color: $primary_color;
  } 
}
}

.container {
  max-width: $web_width;
  margin: auto;
  overflow: hidden;
}

.section_title { font-size: 2.2rem; padding-bottom: 0.5rem;}
.section_text { font-size: 1.2rem; }
.text_center { text-align: center; }

.p {
  &_0 { padding: 5rem; }
  &_1 { padding: 4rem; }
  &_2 { padding: 3rem; }
  &_3 { padding: 2rem; }
  &_4 { padding: 1rem; }
}

.ptb {
  &_0 { padding: 5rem 0; }
  &_1 { padding: 4rem 0; }
  &_2 { padding: 3rem 0; }
  &_3 { padding: 2rem 0; }
  &_4 { padding: 1rem 0; }
}

.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark_color;
  padding: 0.5rem 1rem;

  ul {display: flex;}
  li { padding: 1rem 1.5rem; }

  a {
    color: #fff;
    padding-bottom: 0.3rem;
    border-bottom: 2px transparent solid;
    transition: border-color 1s;

    .logo_title{
      font-family: 'Pacifico', cursive;
      font-size: 1.6rem;
      padding: 5px 0 0 0;
      color: rgb(46, 30, 227);
      text-transform: none;
    }
    &:hover{border-color: $primary_color;}
    &.current_page{border-color:$primary_color;}
  }
}

.header {
  background: $main_bg no-repeat center top/cover;
  height: 93.4vh;
  color: #fff;

  .header_content {
    background-color: rgba(0,0,0,0.5); 
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5.4rem;

    .cta_title { font-size: 4.5rem; }
    .cta_catch { font-size: 1.2rem; padding: 0.6rem 0 2.2rem 0;}

    
  }
}

.section_technologies {
  .techonologie {
    margin-top: 3rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);

    div {
      margin: 0 0.5rem;
    }

    .fas {
      color: $primary_color;
      background-color: #222;
      padding: 0.7rem 1rem;
      margin-bottom: 0.7rem;
      border-radius: 50%;
    }
    h3 {
      font-size: 1.5rem;
      margin-bottom: 0.7rem;

    }
  }
}


.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .projects_img { background: url(../image/project.jpg) no-repeat center center/cover; }

  .projects_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #222;
    color: lemonchiffon;

    ul {
      margin-bottom: 2.5rem;
      
      .fas, .far { padding-bottom: 0.6rem; }
      .projects_title { padding-bottom: 0.5rem; }
      .projects_number { font-size : 1.3rem; }
    }
  }
  
  a { margin: auto; grid-column: 1/4; }
}

.about_section {
  .about_info {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 1.5rem;

    .bio_content {
      grid-column: 2/span 3;
      border-left: 3px solid $primary_color;
    }
  }
}



.main_footer {
  .footer_content {
    color: $dark_color;


    .contact_footer { margin-left: 3rem; }
  }
}